---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import Image from "astro/components/Image.astro";
import exterior from "../assets/exterior.jpg";

// const images = [
//   "IMG_3452.jpg",
//   "IMG_3453.jpg",
//   "IMG_3455.jpg",
//   "IMG_3456.jpg",
//   "IMG_3457.jpg",
//   "IMG_3458.jpg",
//   "IMG_3460.jpg",
//   "IMG_3461.jpg",
//   "IMG_3463.jpg",
//   "IMG_3464.jpg",
//   "IMG_3465.jpg",
//   "IMG_3466.jpg",
//   "IMG_3467.jpg",
// ];
---

<Layout>
  <h1 class="text-2xl font-semibold text-left mb-4">
    🏡 Cute Cottage for Rent!
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="">
      <Image src={exterior} class="rounded-4xl" alt="outside" />
    </div>
    <div class="space-y-4">
      <p class="text-xl font-bold text-red-700">
        This charming freestanding cottage combines modern amenities with a cozy
        atmosphere in a location that can’t be beat! Note: the cottage will be
        furnished and move-in ready (Photos will be updated soon!).

        <p class="text-violet-600 font-bold text-xl">
          Act fast – opportunities like this don’t last long!
        </p>
      </p>

      <p class="text-xl font-semibold">
        <a
          href="mailto:mattosurf@gmail.com"
          class="text-red-700 underline hover:text-violet-700 font-bold"
        >
          Contact us today
        </a> to schedule your tour!
      </p>

      <h3 class="text-3xl mt-4 font-bold">$2900/month</h3>

      <!-- Uncomment if you want to include a Text Matt button -->
      <!-- <a 
      href="sms:+18314061190"
      class="inline-block bg-green-600 text-white font-medium py-2 px-4 rounded-lg shadow-md hover:bg-green-700 transition duration-300"
    >
      Text Matt
    </a> -->

      <ul class="list-disc list-inside space-y-2 text-lg mb-2 font-semibold">
        <li>Available: March 2025</li>
        <li>Deposit: $2900</li>
        <li>Great location between UCSC and downtown Santa Cruz</li>
        <li>1 Bedroom</li>
        <li>1 Full Bathroom (shower over tub)</li>
        <li>Washer and Dryer</li>
        <li>Private fenced yard area</li>
        <li>Max Occupancy: 2 people</li>
        <li>Utilities included: Gas, Electric, Water</li>
      </ul>
      <a
        href="mailto:mattosurf@gmail.com"
        class="inline-block bg-violet-600 text-white font-medium py-2 px-4 rounded-lg shadow-md hover:bg-red-700 transition duration-100 mt-6 mb-12"
      >
        Email Matt
      </a>
    </div>
  </div>

  <!-- <div
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-2 md:p-0"
    id="gallery--getting-started"
  >
    {
      images.map((image) => (
        <a
          href={`/${image}`}
          data-pswp-src={`/${image}`}
          data-pswp-width="2448"
          data-pswp-height="3264"
          class="relative group overflow-hidden rounded-lg"
        >
          <img
            src={`/${image}`}
            alt={image.replace(".jpg", "")}
            class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-105"
          />
        </a>
      ))
    }
  </div> -->
</Layout>
<Gallery />
<Footer />
