---
import "../styles/global.css";
import "photoswipe/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="photoswipe/dist/photoswipe.css" />

    <meta name="generator" content={Astro.generator} />
    <title>Cute Cottage for Rent</title>
  </head>
  <body>
    <div class="mx-auto px-4 2xl:px-0 max-w-6xl">
      <slot />
    </div>
    <!-- Ensure PhotoSwipe runs only on the client -->
    <script is:inline type="module">
      import PhotoSwipeLightbox from "https://unpkg.com/photoswipe/dist/photoswipe-lightbox.esm.js";

      const lightbox = new PhotoSwipeLightbox({
        gallery: "#botanicalsGallery",
        children: "a",
        pswpModule: () => import("https://unpkg.com/photoswipe"),
        mainClass: "pswp--custom-bg",
        bgOpacity: 1, // Ensure the background is fully opaque
      });

      lightbox.init();
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
