---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Cute Cottage for Rent</title>
  </head>
  <body>
    <div class="mx-auto px-4 2xl:px-0 max-w-6xl">
      <slot />
    </div>

    <!-- Inline PhotoSwipe Initialization -->
    <script type="module">
      import PhotoSwipeLightbox from "photoswipe/lightbox";
      import "photoswipe/style.css";

      // Initialize PhotoSwipe
      const lightbox = new PhotoSwipeLightbox({
        gallery: "#botanicalsGallery", // ID of your gallery container
        children: "a", // Selector for clickable items
        pswpModule: () => import("photoswipe"), // Dynamically load PhotoSwipe module
      });

      lightbox.init();
      console.log("PhotoSwipe initialized successfully.");
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
